DATABASE_URL="postgres://root:PWD@localhost:5432/fetch"
PORT="6041"

# JSON Web Token config
JWT_KEY="EXAMPLE_PRIVATE_SECRET"
JWT_ISSUER="fetch.fuyeor.com"
JWT_AUDIENCE="fetch.fuyeor.com"

# `fuyeor.com` OAuth config
IDP_BASE_URL="https://www.fuyeor.com/v2"
IDP_CLIENT_ID="..."
IDP_CLIENT_SECRET="..."
IDP_REDIRECT_URI="http://fetch.localhost:6040/auth/callback"

## Additional configuration variables can be added below as needed.
ENGINE_URL="http://127.0.0.1:3000"
VERIFICATION_SALT="..."