# front-end/.env.example

# `fuyeor.com` OAuth
VITE_OAUTH_CLIENT_ID=01a086fd-1016-767e-b49c-212fd573e500
VITE_REDIRECT_URI=http://fetch.localhost:6040/auth/callback
VITE_AUTH_BASE_URL=https://www.fuyeor.com/oauth/authorize